@import '../variables';
@import './mixins/ui';

table {
  thead tr,
  th {
    background-color: $neutral-senary;
    color: $neutral-tertiary;
    font-size: 0.75em;
    font-weight: 500;
    line-height: 1.33;
    padding: 10px 0;

    @include device(desktop) {
      font-size: 0.875em;
      font-weight: 500;
      line-height: 1.286;
    }
  }
}
