@import '../variables';
@import '../mixins';
@import '../functions';

h1,
h2,
h3,
h4 {
  &:not(.inverse) {
    color: $neutral-primary;
  }

  &.inverse {
    color: $neutral-septenary;
  }
}

h2,
h3,
h4 {
  @include font-sans-medium;
}

p,
li,
strong,
.lead,
.article-body {
  &:not(.inverse) {
    color: $neutral-secondary;
  }

  &.inverse {
    color: $neutral-septenary;
  }
}

p,
li,
strong,
.article-body {
  @include font-serif;
  font-size: rem(18px);
  line-height: get-line-height(26px, 18px);
}

p {
  margin-bottom: rem(18);
}

li {
  margin-bottom: rem(6);
}

strong {
  font-weight: bold;
}

h1 {
  font-size: rem(28px);
  font-weight: 400;
  line-height: get-line-height(32px, 28px);
  margin-top: rem(48);
  margin-bottom: rem(20);
  @include font-sans-regular;

  @include device(tablet) {
    font-size: rem(34px);
    line-height: get-line-height(40px, 34px);
  }

  @include device(desktop) {
    font-size: rem(40px);
    font-weight: 400;
    line-height: get-line-height(48px, 40px);
    margin-top: rem(48);
    margin-bottom: rem(32);
  }
}

h2 {
  font-size: rem(24px);
  font-weight: 500;
  line-height: get-line-height(28px, 24px);
  margin-bottom: rem(16);
  margin-top: rem(36);

  @include device(desktop) {
    font-size: rem(32px);
    font-weight: 500;
    line-height: get-line-height(40px, 32px);
    margin-bottom: rem(24);
  }
}

h3 {
  font-size: rem(20px);
  font-weight: 500;
  line-height: get-line-height(26px, 20px);
  margin-bottom: rem(12);
  margin-top: rem(24);

  @include device(desktop) {
    font-size: rem(28px);
    font-weight: 500;
    line-height: get-line-height(32px, 28px);
    margin-bottom: rem(16);
  }
}

h4 {
  font-size: rem(18px);
  font-weight: 500;
  line-height: get-line-height(24px, 18px);

  @include device(desktop) {
    font-size: rem(20px);
    font-weight: 500;
    line-height: get-line-height(28px, 20px);
  }
}

// No styles for h5 and h6

.lead {
  font-size: rem(20px);
  font-weight: 400;
  line-height: get-line-height(28px, 20px);
  @include font-serif;

  @include device(desktop) {
    font-size: rem(22px);
    font-weight: 400;
    line-height: get-line-height(32px, 24px);
  }
}

table {
  margin-top: rem(24);
  margin-bottom: rem(24);
}
