@import 'src/styles/variables';
@import 'src/styles/mixins';
@import 'src/styles/functions';

:host {
  background-color: $colour-white;
}

.filter-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include font-sans-regular;
  font-size: rem(18px);
  line-height: rem(22px);
  color: $neutral-primary;
  background-color: $neutral-senary;
  padding: rem(14px) rem(24px);
  margin-bottom: rem(16px);
  a {
    font-size: rem(14px);
    line-height: rem(14px);
    color: $neutral-quaternary;
    cursor: default;

    &.checked {
      cursor: pointer;
      color: var(--colour-brand-tertiary, $gold-brand-tertiary);
    }
  }
}

.filter-options {
  padding: 0 rem(24px);
  margin-top: 0;
  margin-bottom: rem(10px);
}

.filter-options:last-child {
  margin-bottom: rem(20px);
}
